@font-face {
  font-family: "shrikhandregular";
  src: url("police-regular-webfont.ttf") format("ttf"),
    url("police-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";

  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.ttf") format("ttf"),
    url("fonts/Roboto-Regular-webfont.eot?#iefix"), format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Animation loader spinner*/
.chargement {
  border: 10px solid rgb(229 229 229 / 85%);
  border-top: 10px solid #16a085;
  border-bottom: 10px solid #34495e;
  border-left: 10px solid #bdc3c7;
  border-right: 10px solid #d35400;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: white;
  /*placement loader*/
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  animation: progress-loader 2.5s;
  opacity: 0;
}
.loader {
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 324px;
  margin: auto;
  width: max-content;
  animation: progress-opacity 2.5s;
}
@keyframes progress-opacity {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes progress-loader {
  0% {
    transform: rotate(0);
    z-index: 1;
    opacity: 1;
  }
  20% {
    transform: rotate(50deg);
    opacity: 1;
  }
  35% {
    transform: rotate(110deg);
    opacity: 1;
  }
  50% {
    transform: rotate(140deg);
    opacity: 1;
  }
  60% {
    transform: rotate(230deg);
    opacity: 1;
  }
  80% {
    transform: rotate(300deg);
    opacity: 1;
  }
  90% {
    transform: rotate(340deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes progress-page {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  99% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
#bloc_page {
  animation: progress-page 2.5s;
}
body {
  width: 100%;
  margin: auto;
}

header {
  line-height: 20px;
  animation: progress-page 2.5s;
}

.titre {
  width: max-content;
  margin: auto;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1.7em;
}
#quartier {
  display: flex;
  align-content: space-between;
  width: max-content;
  margin: auto;
}
.texte0 {
  margin-left: 10px;
}
.texte0,
.texte {
  margin-left: 18px;
  font-size: 1em;
}
.logo_map {
  /*compromis car écart différent entre firefox et chrome!?*/
  margin-left: 43px;
}
input {
  border: none;
  background: none;
}
input:focus {
  border: none;
  outline: none;
}
.formulaire {
  background: rgb(229 229 229 / 85%);
  padding: 15px 0 15px 0;
  border-top: 3px rgb(215, 212, 212) solid;
}
::placeholder {
  color: black;
  font-weight: normal;
}
.action h3 {
  padding-top: 13px;
  width: max-content;
  margin: auto;
  margin-bottom: -14px;
}
.suite_action_h3 {
  margin: auto;
  width: max-content;
  margin-bottom: 10px;
}
h3 {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
}

.action p {
  width: max-content;
  margin: auto;
  padding-top: 15px;
  font-size: large;
}
.suite_p {
  width: max-content;
  margin: auto;
  margin-top: -13px;
}
p,
.suite_p {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font: icon;
  color: #00000075;
}
.lien_restaurants {
  width: max-content;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  background: linear-gradient(-6deg, #9356dc, #ff79da);
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: small;
  border-radius: 30px;
  box-shadow: 0px 4px rgb(237, 235, 235);
}
.lien_restaurants a {
  text-decoration: none;
  color: #f8f7f7;
  font: menu;
}
.action {
  background: rgb(248 247 247);
  padding-bottom: 58px;
  padding-top: 20px;
}
.logo1 {
  font-size: large;
  color: #00000099;
}
.logo {
  color: #00000099;
}
.un,
.deux,
.trois {
  display: flex;
  padding: 23px 60px 21px 10px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font: icon;
  font-size: medium;
  background: rgb(244, 241, 241);
  border-radius: 18px;
  width: 96%;
  margin: auto;
  box-shadow: 2px 4px rgb(233, 231, 231);
  margin-bottom: 20px;
}

.un__un,
.deux__deux,
.trois__trois {
  justify-content: flex-start;
  position: relative;
  right: 37px;
  color: white;
  background: #9356dc;
  border-radius: 25px;
  width: 15px;
  height: 19px;
  padding-left: 5px;
  padding-top: 2px;
}
:hover.trois,
:hover.un,
:hover.deux {
  background: #eee1ff96;
  cursor: pointer;
}
:hover.trois .logo,
:hover.deux .logo,
:hover.un .logo1 {
  color: #9356dc;
}
.logo,
.logo1 {
  position: relative;
  left: 20px;
}
.un__un {
  position: relative;
  right: 29px;
}
.deux__deux {
  position: relative;
  right: 34px;
}

.fonctionnement {
  width: 76%;
  padding: 0 56px 10px 10px;
  margin: auto;
}

.fonctionnement h3 {
  margin-left: -6px;
}
.texte1 {
  margin-left: 23px;
}

#restaurants {
  width: 100%;
  margin: auto;
  background: rgb(244, 241, 241);
  padding-top: 4px;
  margin-top: 15px;
  padding-bottom: 34px;
}

#restaurants img {
  width: 100%;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 193.33px;
}

.textimg,
.resto {
  position: relative;
}

span {
  position: absolute;
  right: 15px;
  top: 11px;
  z-index: 1;
  background: #99e2d0;
  padding: 6px 11px 6px 11px;
  border-radius: 2px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: small;
  font-size: smaller;
  color: #36673da3;
  font-weight: 700;
}
.fa-heart-o {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 24px;
  color: #0000007a;
}
.fa-heart {
  position: absolute;
  right: 25px;
  top: 10px;
  opacity: 0;
  color: #9356dc;
  transform: scale(0.5);
  transition: transform 0.8s;
}
:hover.fa-heart {
  opacity: 1;
  cursor: pointer;
  font-size: 24px;
  transform: scale(1);
  color: #9356dc;
}
:hover.fa-heart-o {
  cursor: pointer;
}

.textimg {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  font: icon;
}

#restaurants h3 {
  margin-left: 15px;
}
.resto {
  background: white;
  margin: 0 15px 20px 15px;
  border-radius: 10px;
  box-shadow: 2px 4px rgb(233, 231, 231);
}

footer {
  background: rgb(62, 60, 60);
  height: 200px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
footer li,
footer ol {
  list-style: none;
}
footer a,
footer h3,
footer i {
  color: white;
}
footer img {
  position: relative;
  right: 18px;
  filter: invert(1);
}

footer i {
  margin-left: 4px;
}
footer i,
footer a {
  position: relative;
  right: 20px;
  font-size: 0.8em;
  margin-top: 9px;
}
footer a {
  text-decoration: none;
  font-size: initial;
  margin-left: 3px;
  font-weight: 500;
}

footer h3 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  padding-top: 20px;
  margin-left: 20px;
  margin-top: 0%;
  width: max-content;
  font-size: initial;
  font-weight: 100;
}
footer ul {
  line-height: 26px;
}
@media screen and (min-width: 600px) and (max-width: 1150px) {
  .texte,
  .texte1,
  .logo,
  .logo1 {
    font-size: xx-large;
  }
  .logo_map {
    font-size: x-large;
  }
  .suite_p {
    font-size: x-large;
  }
  .lien_restaurants {
    font-size: 1.2em;
  }
  .un__un,
  .deux__deux,
  .trois__trois {
    margin-top: 18px;
    position: relative;
    bottom: 10px;
  }
  .un__un {
    position: relative;
    right: 38px;
  }
  .deux__deux {
    position: relative;
    right: 50px;
  }
  .trois__trois {
    position: relative;
    right: 56px;
  }
  .texte1 {
    margin-left: 23px;
  }

  .resto {
    width: 100%;
    margin-left: 20px;
  }
  #restos img {
    width: 100%;
  }
  .restos1_2,
  .restos2_3 {
    display: flex;
    justify-content: space-between;
  }

  footer ul {
    width: 55%;
    font-size: larger;
    list-style: none;
    margin-top: -16px;
  }
  .textimg {
    font-size: x-large;
  }
  h3 {
    font-size: xx-large;
  }
  p,
  .titre,
  .fonctionnement {
    font-size: x-large;
  }
}
@media (min-width: 1150px) {
  #bloc_page {
    margin: 0 50px 0 50px;
  }
  #point_break_1150 {
    display: flex;
  }

  section {
    width: 50%;
  }
  .action {
    padding-bottom: 32px;
  }
  .un__un,
  .deux__deux,
  .trois__trois {
    margin-top: 17px;
    position: relative;
    bottom: 5px;
  }
  .un__un {
    position: relative;
    right: 36px;
  }
  .deux__deux {
    position: relative;
    right: 44px;
  }
  .trois__trois {
    position: relative;
    right: 48px;
  }

  #restos {
    display: flex;
    margin-left: 68px;
  }
  #restaurants img {
    height: 316.33px;
    width: 100%;
  }
  #restaurants h3 {
    margin-left: 60px;
    font-size: 2.5em;
  }
  .restos1_2,
  .restos2_3 {
    width: 100%;
  }
  .resto {
    width: 80%;
  }

  footer {
    display: flex;
  }
  footer h3 {
    font-size: 1.4em;
  }
  footer ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
  }
  h3 {
    font-size: xx-large;
  }
  h1 {
    font-size: 2em;
  }
  p,
  .suite_p,
  .logo,
  .logo1 {
    font-size: x-large;
  }
  .logo,
  .logo1 {
    margin-top: 10px;
  }
  .texte1,
  .texte {
    font-size: large;
    margin-top: 12px;
  }
  .texte0 {
    font-size: x-large;
  }
  .logo_map {
    font-size: x-large;
  }
  .texte1 {
    margin-top: 15px;
  }

  .fonctionnement strong {
    margin-left: 20%;
    font-size: x-large;
    position: relative;
    top: 15px;
    width: 100%;
    margin: 41%;
  }
  .fonctionnement {
    width: 50%;
    margin-top: -39px;
  }
  .un,
  .deux,
  .trois {
    margin-top: 26px;
    padding: 10px 28px 15px 13px;
    margin-left: 43px;
    margin-right: 10px;
  }
  .lien_restaurants {
    font-size: 1.2em;
  }
  .textimg {
    font-size: x-large;
  }
  .un__un,
  .deux__deux,
  .trois__trois {
    margin-top: 16px;
  }

  header {
    border: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;

    box-shadow: 0px 2px rgb(237, 235, 235);
  }

  aside {
    margin-top: -15px;
  }
}
