@font-face {
  font-family: "shrikhandregular";
  src: url("fonts/shrikhand-regular.woff2") format("woff2"),
    url("fonts/shrikhand-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  margin: auto;
}

.titre {
  width: max-content;
  margin: auto;
  font-family: "shrikhandregular";
}
#quartier {
  display: flex;
  align-content: space-between;
  width: max-content;
  margin: auto;
}
.texte {
  margin-left: 15px;
  font-size: 1em;
}
.logo_map { /*compromis car écart différent entre firefox et chrome!?*/
  margin-left: 43px;
}
input {
  border: none;
  background: none;
}
.formulaire {
  background: rgb(235, 233, 233);
  padding: 15px 0 15px 0;
  border-top: 2px rgb(215, 212, 212) solid;
}
::placeholder {
  color: black;
  font-weight: normal;
}
#action h3 {
  padding-top: 9px;
  width: max-content;
  margin: auto;
  margin-bottom: -14px;
}
.suite_h3 {
  margin: auto;
  width: max-content;
  margin-bottom: 10px;
}
h3 {
  font-family: "robotoregular";
  font-size: 1.4em;
}

#action p {
  width: max-content;
  margin: auto;
  padding-top: 10px;
}
.suite_p {
  width: max-content;
  margin: auto;
  margin-top: -13px;
}
p,
.suite_p {
  font-family: "robotoregular";
  color: rgb(128, 125, 125);
}
.lien_restaurants {
  width: max-content;
  margin: auto;
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(#b85cdf, #ab29bf);
  font-family: "robotoregular";
  font-size: small;
  border-radius: 20px;
  box-shadow: 0px 4px rgb(237, 235, 235);
}
.lien_restaurants a {
  text-decoration: none;
  color: white;
}
#action {
  background: rgb(244, 241, 241);
  padding-bottom: 20px;
}
.un,
.deux,
.trois {
  display: flex;
  padding: 15px 60px 15px 10px;
  font-family: "robotoregular";
  font-weight: bold;
  font-size: small;
  background: rgb(244, 241, 241);
  border-radius: 18px;
  width: 87%;
  margin: auto;
  box-shadow: 2px 4px rgb(233, 231, 231);
  margin-bottom: 10px;
}

.un__un,
.deux__deux,
.trois__trois {
  justify-content: flex-start;
  position: relative;
  right: 17px;
  color: white;
  background: #9356dc;
  border-radius: 25px;
  width: 13px;
  height: 19px;
  padding-left: 6px;
  font-size: small;
}
.trois{
  background:#eee1ff ;
}

#fonctionnement {
  width: 80%;
  margin-left: 20px;
  padding: 0 40px 10px 10px;
  margin: auto;
}
.texte1 {
  margin-left: 21px;
}

#restaurants {
  width: 100%;
  margin: auto;
  background: rgb(244, 241, 241);
  padding-top: 4px;
  margin-top: 15px;
  padding-bottom: 60px;
}

#restaurants img {
  width: 100%;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 193.33px;
 
  
}


.textimg,.resto {
  position: relative;
}

span {
  /* mot "nouveau"sur photos ne reste pas en place (haut à droite) 
    sur des formats visuels plus étendu jusqu'à 767px*/
  position: absolute;
  left: 78%;
  top: 11px;
  z-index: 1;
  background: #99e2d0;
  padding: 3px 7px 3px 7px;
  border-radius: 2px;
  font-family: "robotoregular";
  font-size: small;
  color: transparent;
  text-shadow: 0 0 1px #330;
 
}
.fa-heart-o {
  /*COEUR*/ /*comment avoir le traît moins large?*/
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 24px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;
}

:hover.fa-heart-o {
  /*comment faire pour que le coeur fond blanc 
    deviennent coeur fond violet au survol?? */

  
  
  cursor: pointer;
  transform: scale(1.15);
  
  
}
:focus .fa-heart-o{
  background-color: #9356dc;
}

.textimg {
  font-family: "robotoregular";
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  font: icon;
}

#restaurants h3 {
  margin-left: 20px;
}
.resto {
  background: white;
  margin: 0 15px 20px 15px;
  border-radius: 10px;
  box-shadow: 2px 4px rgb(233, 231, 231);
}

footer {
  background: rgb(62, 60, 60);
  height: 200px;
  font-family: "robotoregular";
}
footer li {
  list-style: none;
}
footer a,
footer h3,
footer i {
  color: white;
}
footer i,
footer a {
  position: relative;
  right: 20px;
  font-size: 0.8em;
}
footer a {
  text-decoration: none;
  font-size: 1.1em;
  margin-left: 3px;
}

footer h3 {
  font-family: "shrikhandregular";
  padding-top: 20px;
  margin-left: 20px;
  margin-top: 0%;
  width: max-content;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    max-width: 1259px;
  }
  .texte,
  .texte1,
  .logo_map,
  .logo,
  .logo1 {
    font-size: x-large;
  }
  .suite_p {
    font-size: x-large;
  }
  .lien_restaurants {
    font-size: 1.2em;
  }
  .un__un,
  .deux__deux,
  .trois__trois {
    margin-top: 8px;
  }
  .texte1 {
    margin-left: 23px;
  }

  .resto {
    width: 100%;
    margin-left: 20px;
  }
  #restos img {
    width: 100%;
  }
  .restos1_2,
  .restos2_3 {
    display: flex;
    justify-content: space-between;
  }

  footer ul {
    width: 55%;
    font-size: 1.0em;
    list-style: none;
    display: fle;/* je ne sais pas si bonne idée en flex?*/
  }
  .textimg {
    font-size: x-large;
  }
  h3 {
    font-size: xx-large;
  }
  p,
  .titre,
  #fonctionnement {
    font-size: x-large;
  }
}
@media (min-width: 1024px) {
  #bloc_page {
    margin: 0 50px 0 50px;
  }
  #mediascreen {
    display: flex;
    justify-content: space-around;
  }
  header {
    width: 60%;
  }

  #restos {
    display: flex;
    margin-left: 68px;
  }
  #restaurants img {
    height: 316.33px;
    width: 100%;
  }
  #restaurants h3 {
    margin-left: 60px;
    font-size: 2.5em;
  }
  .restos1_2,
  .restos2_3 {
    width: 100%;
  }
  .resto {
    width: 80%;
  }

  footer {
    display: flex;
  }
  footer h3 {
    font-size: 1.4em;
  }
  footer ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
  }
  h3 {
    font-size: xx-large;
  }
  h1 {
    font-size: 3em;
  }
  p,
  .suite_p,
  .logo,
  .logo1 {
    font-size: x-large;
  }
  .texte1,
  .texte,
  .logo_map {
    font-size: large;
  }
  section {
    width: 40%;
    margin-top: 12px;
  }
  #fonctionnement strong {
    margin-left: 20%;
  }
  #fonctionnement {
    margin-top: 20px;
  }
  .un,
  .deux,
  .trois {
    margin-top: 25px;
  }
  .lien_restaurants {
    font-size: 1.2em;
  }
  .textimg {
    font-size: x-large;
  }
}
