@font-face {
    font-family: 'shrikhandregular';
    src: url('fonts/shrikhand-regular.woff2') format('woff2'),
         url('fonts/shrikhand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;


    

} 
body{
  width: 100%;
  margin: auto;
  min-width: 320px;
  
  
}


.titre {
    width: 50%;
    margin: auto;
    font-family:'shrikhandregular' ;
   
  
}
#quartier{
    display: flex;
    align-content: space-between;
    width: 50%;
    margin: auto;
   
   
   
}
.texte{
    margin-left: 15px;
    
}
input{
    border: none;
    background: none;
}
.formulaire{
    background: rgb(235, 233, 233);
    padding: 15px 0 15px 0;
    border-top:2px rgb(215, 212, 212) solid;
    
}
::placeholder{
    color: black;
    font-weight: bold;
}
#action h3{
    padding-top: 10px;
    width: 60%;
    margin: auto;
    
    
}
.suite_h3{
  margin: auto;
  width: 70%;
}
h3{
    font-family:'robotoregular' ;
    font-weight: 100;
}
#action p{
    width: 75%;
    margin: auto;
    padding-top: 10px;
    
    }
.suite_p{
    width: 55%;
    margin: auto;
}
p, .suite_p{
    font-family:'robotoregular';
    font-size: small;
}
.lien_restaurants{
    
    width: 60%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    background: #ca56dc;
    font-family:'robotoregular' ;
    font-size: small;
    border-radius: 20px;
    box-shadow:0px 4px rgb(237, 235, 235);
    
}
.lien_restaurants a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    margin-left: 25px;
    
   
    

}
#action{
    background: rgb(244, 241, 241);
    padding-bottom: 20px;
}
.un,.deux,.trois{
    display: flex;
    
    padding: 15px 40px 15px 10px;
    font-family:'robotoregular' ;
    font-weight: bold;
    background: rgb(244, 241, 241);
    border-radius: 18px;
    width: 90%;
    margin: auto;
    box-shadow: 2px 4px rgb(233, 231, 231) ;
    margin-bottom: 10px;
   
}



.un__un, .deux__deux,.trois__trois{
    
    justify-content: flex-start;
    position: relative;
    right: 17px;
    color:white;
    background: #9356DC;
    border-radius: 25px;
    width: 13px;
    height: 19px;
    padding-left: 6px;
    font-size: small;
}


#fonctionnement {
 
   
   padding: 0 40px 10px 10px;
   margin: auto;
   width: 80%;
  
}




#restaurants {
    width: 100%;
    margin: auto;
    background:rgb(244, 241, 241);;
    padding-top: 4px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 60px;
    
}

#restaurants img{
    width: 100%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}
.textimg{
    
    font-family:'robotoregular';
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 7px;
    
    
    
}

#restaurants h3{
    margin-left: 20px;
    
}
.resto{
    
   
    margin-bottom: 15px;
    background: white;
    margin: 0 15px 10px 15px;
    border-radius: 10px;
    box-shadow:  2px 4px rgb(233, 231, 231) ;
    
}

footer {
   
    background: black;
    height: 200px;
}
footer a, footer h3, footer i{
    color: white;
    margin-top: 7px;
    
   
    
    
    
}
footer i,footer a{
    position: relative;
    right: 20px;
}
footer a{
    text-decoration: none;
}
   

footer h3{
    font-family: 'shrikhandregular';
    padding-top: 20px;
    margin-left: 20px;
   
}


