@font-face {
    font-family: 'shrikhandregular';
    src: url('fonts/shrikhand-regular.woff2') format('woff2'),
         url('fonts/shrikhand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

} 
body{
  width: 100%;
  margin:auto;
}
.titre {
    width: 50%;
    margin: auto;
    font-family:'shrikhandregular' ;
    font-weight: bolder;
  
}
#quartier{
    display: flex;
    width: 35%;
    margin: auto;
   
   
   
}
input{
    border: none;
    background: none;
}
.formulaire{
    background: rgb(242, 233, 233);
    padding: 15px 0 15px 0;
    border-top:2px rgb(215, 212, 212) solid;
    
   
    
    
}