@font-face {
    font-family: 'shrikhandregular';
    src: url('fonts/shrikhand-regular.woff2') format('woff2'),
         url('fonts/shrikhand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;


 


   

} 
body{
    width: 100%;
    margin: auto;
    
    
  
}


.titre {
    width: max-content;
    margin: auto;
    font-family:'shrikhandregular' ;
   
  
}
#quartier{
    display: flex;
    align-content: space-between;
    width: max-content;
    margin: auto;
   
   
   
}
.texte{
    margin-left: 15px;
    
}
input{
    border: none;
    background: none;
}
.formulaire{
    background: rgb(235, 233, 233);
    padding: 15px 0 15px 0;
    border-top:2px rgb(215, 212, 212) solid;
    
}
::placeholder{
    color: black;
    font-weight: bold;
}
#action h3{
    padding-top: 10px;
    width: max-content;
    margin: auto;
    
    
}
.suite_h3{
  margin: auto;
  width: max-content;
}
h3{
    font-family:'robotoregular' ;
    font-size: 1.4em;
}
#action p{
    width: max-content;
    margin: auto;
    padding-top: 10px;
    
    }
.suite_p{
    width: max-content;
    margin: auto;
}
p, .suite_p{
    font-family:'robotoregular';
    font-size: small;
}
.lien_restaurants{
    
    width: max-content;
    margin: auto;
    margin-top: 10px;
    padding: 12px;
    background: #ca56dc;
    font-family:'robotoregular' ;
    font-size: small;
    border-radius: 20px;
    box-shadow:0px 4px rgb(237, 235, 235);
    
}
.lien_restaurants a{
    text-decoration: none;
    color: white;
    margin-bottom: 5p;
    margin-left: 25p;
    
   
    

}
#action{
    background: rgb(244, 241, 241);
    padding-bottom: 20px;
}
.un,.deux,.trois{
    display: flex;
    padding: 15px 60px 15px 10px;
    font-family:'robotoregular' ;
    font-weight: bold;
    background: rgb(244, 241, 241);
    border-radius: 18px;
    width: 87%;
    margin: auto;
    box-shadow: 2px 4px rgb(233, 231, 231) ;
    margin-bottom: 10px;
   
}


    





.un__un,.deux__deux,.trois__trois{
    
    justify-content: flex-start;
    position: relative;
    right: 17px;
    color:white;
    background: #9356DC;
    border-radius: 25px;
    width: 13px;
    height: 19px;
    padding-left: 6px;
    font-size: small;
}


#fonctionnement {
 
   width:max-content;
    margin-left: 20px;
   padding: 0 40px 10px 10px;
   margin: auto;
   width: 80%;
  
}




#restaurants {
    width: 100%;
    margin: auto;
    background:rgb(244, 241, 241);;
    padding-top: 4px;
    margin-top: 15px;
    padding-bottom: 60px;
    
    
}

#restaurants img{
    width: 100%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 263.36px;
}


.textimg{
    
    font-family:'robotoregular';
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    
    
    
}

#restaurants h3{
    margin-left: 20px;
    
}
.resto{
    
   
   
    background: white;
    margin: 0 15px 20px 15px;
    border-radius: 10px;
    box-shadow:  2px 4px rgb(233, 231, 231) ;
    
}

footer {
   
    background: black;
    height: 200px;
}
footer a, footer h3, footer i{
    color: white;
    margin-top: 10px;
    
   
    
    
    
}
footer i,footer a{
    position: relative;
    right: 20px;
}
footer a{
    text-decoration: none;
    font-size: 1.4em;
}
   

footer h3{
    font-family: 'shrikhandregular';
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 0%;
    width: max-content;
    

   
}
@media screen and (min-width:426px){
    body{
        
        margin: auto;
        
        
    }
    #bloc_page{
        width: 100%;
        margin-left: 10px;
        flex-wrap: wrap;
        

    }

    .titre{
        margin-left: 10px;
    }
    #mediascreen{
        display: flex;
        justify-content: space-around;
    }
    #restos{
        
        display: flex;
        
    }


}


